body {
    width: 100%;
    margin: 0 !important;
}

.snowboarder-wrapper {
    width: 800px;
    height: 740px;
    background-image: url(../img/stok.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.snowboarder {
    position: relative;
    width: 525px;
    height: 640px;
    margin: 0 auto;
    top: 50px;
    overflow: hidden;
}

.snowboarder img {
    position: absolute;
}

.snowboarder .board {
    bottom: 5px;
    animation: board 3s infinite;
    left: 60px;
    z-index: 2;
}

.snowboarder .body {
    bottom: 40px;
    left: 50%;
    z-index: 4;
    margin-left: -86px;
    animation: bodyAnimation 3s infinite;
}

.snowboarder .head {
    top: 75px;
    left: 50%;
    margin-left: -85px;
    z-index: 6;
}

.snowboarder .scarf {
    left: 50%;
    margin-left: -160px;
    top: 195px;
    z-index: 5;
    animation: scarf 1.5s infinite linear;
}

.snowboarder .left-hand {
    right: 0;
    top: 280px;
    animation: leftHand 3s infinite;
    z-index: 2;
}

.snowboarder .right-hand {
    top: 310px;
    left: 120px;
    animation: rightHand 3s infinite;
    z-index: 2;
}

.snowflake {
    position: absolute;
    width: 30px;
    top: -45px;
}
/* SEKWENCJA */
.snowflake1 {
    left: 20px;
    animation: falling 4s infinite linear;
}

.snowflake2 {
    left: 65px;
    animation: falling 5s infinite linear;
    animation-delay: .5s;
}

.snowflake3 {
    left: 100px;
    animation: falling 6s infinite linear;
    animation-delay: 1s;
}

.snowflake4 {
    left: 20px;
    animation: falling 4s infinite linear;
    animation-delay: 1.5s;
}

.snowflake5 {
    left: 65px;
    animation: falling 5s infinite linear;
    animation-delay: 2.5s;
}

.snowflake6 {
    left: 100px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}

.snowflake11 {
    left: 120px;
    animation: falling 6s infinite linear;
    animation-delay: 0.5s;
}

.snowflake21 {
    left: 165px;
    animation: falling 4s infinite linear;
}

.snowflake31 {
    left: 200px;
    animation: falling 5s infinite linear;
    animation-delay: 1s;
}

.snowflake41 {
    left: 120px;
    animation: falling 4s infinite linear;
    animation-delay: 2.5s;
}

.snowflake51 {
    left: 165px;
    animation: falling 5s infinite linear;
    animation-delay: 1.5s;
}

.snowflake61 {
    left: 200px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}

/*SEKWENCJA*/

.snowflake12 {
    left: 220px;
    animation: falling 4s infinite linear;
}

.snowflake22 {
    left: 265px;
    animation: falling 5s infinite linear;
    animation-delay: .5s;
}

.snowflake32 {
    left: 300px;
    animation: falling 6s infinite linear;
    animation-delay: 1s;
}

.snowflake42 {
    left: 220px;
    animation: falling 4s infinite linear;
    animation-delay: 1.5s;
}

.snowflake52 {
    left: 265px;
    animation: falling 5s infinite linear;
    animation-delay: 2.5s;
}

.snowflake62 {
    left: 300px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}

.snowflake13 {
    left: 320px;
    animation: falling 6s infinite linear;
    animation-delay: 0.5s;
}

.snowflake23 {
    left: 365px;
    animation: falling 4s infinite linear;
}

.snowflake33 {
    left: 400px;
    animation: falling 5s infinite linear;
    animation-delay: 1s;
}

.snowflake43 {
    left: 320px;
    animation: falling 4s infinite linear;
    animation-delay: 2.5s;
}

.snowflake53 {
    left: 365px;
    animation: falling 5s infinite linear;
    animation-delay: 1.5s;
}

.snowflake63 {
    left: 400px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}



/* SEKWENCJA */
.snowflake14 {
    left: 420px;
    animation: falling 4s infinite linear;
}

.snowflake24 {
    left: 465px;
    animation: falling 5s infinite linear;
    animation-delay: .5s;
}

.snowflake34 {
    left: 500px;
    animation: falling 6s infinite linear;
    animation-delay: 1s;
}

.snowflake44 {
    left: 420px;
    animation: falling 4s infinite linear;
    animation-delay: 1.5s;
}

.snowflake54 {
    left: 465px;
    animation: falling 5s infinite linear;
    animation-delay: 2.5s;
}

.snowflake64 {
    left: 500px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}

.snowflake15 {
    left: 520px;
    animation: falling 6s infinite linear;
    animation-delay: 0.5s;
}

.snowflake25 {
    left: 565px;
    animation: falling 4s infinite linear;
}

.snowflake35 {
    left: 600px;
    animation: falling 5s infinite linear;
    animation-delay: 1s;
}

.snowflake45 {
    left: 520px;
    animation: falling 4s infinite linear;
    animation-delay: 2.5s;
}

.snowflake55 {
    left: 565px;
    animation: falling 5s infinite linear;
    animation-delay: 1.5s;
}

.snowflake65 {
    left: 600px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}

/*SEKWENCJA*/

.snowflake16 {
    left: 620px;
    animation: falling 4s infinite linear;
}

.snowflake26 {
    left: 665px;
    animation: falling 5s infinite linear;
    animation-delay: .5s;
}

.snowflake36 {
    left: 700px;
    animation: falling 6s infinite linear;
    animation-delay: 1s;
}

.snowflake46 {
    left: 620px;
    animation: falling 4s infinite linear;
    animation-delay: 1.5s;
}

.snowflake56 {
    left: 665px;
    animation: falling 5s infinite linear;
    animation-delay: 2.5s;
}

.snowflake66 {
    left: 700px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}

.snowflake17 {
    left: 720px;
    animation: falling 6s infinite linear;
    animation-delay: 0.5s;
}

.snowflake27 {
    left: 765px;
    animation: falling 4s infinite linear;
}

.snowflake37 {
    left: 800px;
    animation: falling 5s infinite linear;
    animation-delay: 1s;
}

.snowflake47 {
    left: 720px;
    animation: falling 4s infinite linear;
    animation-delay: 2.5s;
}

.snowflake57 {
    left: 765px;
    animation: falling 5s infinite linear;
    animation-delay: 1.5s;
}

.snowflake67 {
    left: 800px;
    animation: falling 6s infinite linear;
    animation-delay: 2.5s;
}

@keyframes board {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(40deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes bodyAnimation {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes leftHand {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-15deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes rightHand {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(15deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes scarf {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-20deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes falling {
    0% {
        top: -25px;
    }

    100% {
        top: 100%;
    }
}


body.alternative {
    width: 1920px;
    height: 326px;
    background-image: url(../img/background.png);
    background-size: 1370px 326px;
    background-repeat: no-repeat;
    margin: 100px auto 0 !important;
    background-position: center bottom;
}

.alternative .snowboarder {
    position: relative;
    width: 150px;
    height: 226px;
    margin: 0 584px 0 auto;
    top: -11px;
}

.alternative .snowboarder img {
    position: absolute;
    width: 35%;
    height: auto
}

.alternative .head {
    top: 0;
    left: 50%;
    margin-left: -26px;
    z-index: 5;
}

.alternative .body {
    bottom: 40px;
    left: 50%;
    z-index: 3;
    margin-left: -26px;
    animation: bodyAnimation 3s infinite;
}

.alternative .scarf {
    left: 50%;
    margin-left: -37px;
    top: 73px;
    z-index: 4;
    animation: scarf 1.5s infinite;
}

.alternative .board {
    bottom: 33px;
    animation: board 3s infinite;
    width: 60% !important;
    left: 50%;
    margin-left: -45px;
}

.alternative .left-hand {
    right: 1px;
    top: 92px;
    animation: leftHand 3s infinite;
}

.alternative .right-hand {
    top: 97px;
    left: 22px;
    animation: rightHand 3s infinite;
}